/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"); */

.body {
  display: flex;
  justify-content: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

#table {
  border: 2px solid white;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
}

tr:nth-child(2n) {
  background: #f2f6fa;
}

tr:nth-child(2n):hover {
  background: #e2e5e9;
}
