.content_block_size {
  min-width: 258px;
  height: min-content;
  background: #ebecf0;
  border-radius: 10px;
  padding: 12px 12px 8px 12px;
  margin-top: 20px;
  margin-left: 20px;
}

.content_block_input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content_block_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.block_heading_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  text-decoration: none;
  width: 30px;
  height: 20px;
}

.block_heading_logo:hover {
  cursor: pointer;
}

.block_heading_logo_up {
  position: relative;
}

.heading_window_active {
  opacity: 1;
}

.heading_window_disable {
  opacity: 0;
}

.heading_window {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: -47px;
  width: 70px;
  height: 35px;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 5px;
  background: #0067a3;
}

.heading_window::after {
  top: -10px;
  position: absolute;
  content: " ";
  width: 15px;
  height: 15px;
  background: #0067a3;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 2px;
  border-width: 2px 0 0 2px;
  transform: rotate(-315deg);
}

.window_text {
  font-size: 15px;
  color: #a3bff0;
}

.block_heading_logo_text {
  width: 16px;
  height: 6px;
  background: url(../../img/main/dots.png) no-repeat;
  margin-right: 2px;
}

.content_item {
  width: 241px;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 7px 9px 7px 8px;
  font-size: 18px;
}

.content_active:hover {
  cursor: pointer;
}

.item_add {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background: #ebecf0;
  margin-top: 17px;
}

.item_add:hover {
  cursor: pointer;
}

.item_add:active {
  cursor: grab;
}

.add_text {
  font-size: 18px;
  color: #5e6c84;
}

.disable {
  opacity: 0.4;
  cursor: auto;
}

.disable:hover {
  cursor: auto;
}

.block_item {
  width: 241px;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 7px 9px 7px 8px;
  font-size: 18px;
}

/* .content_task {
    overflow-x: auto;
  } */

.add_logo {
  width: 14px;
  height: 14px;
  background: url(../../img/main/add.png) no-repeat;
  margin-right: 4px;
}
